:root{
    --color-1: hsl(0, 0%, 100%);
    --color-2: hsl(212, 45%, 89%);
    --color-3: hsl(220, 15%, 55%);
    --color-4: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-2);
}

.principal {
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 8%);
    background: var(--color-1);
    max-width: 340px;
    height: 530px;
    text-align: center;
    border-radius: 20px;
}

.div-img img {
    position: relative;
    top: 20px;
    width: 300px;
    border-radius: 10px;
}

.div-paragraph {
    padding: 0 5px 10px 5px;
}

.div-paragraph p {
    font-size: 18px;
    color: var(--color-3);
    width: 300px;
    padding: 0 0 0 25px;
}

.div-paragraph h1 {
    color: var(--color-4);
    width: 320px;
    font-size: 24px;
    padding: 50px 10px 20px 10px;
    font-weight: bold;
}

@media(min-width: 576px) {
    .container {
        max-width: 290px;
        height: 470px;
        transform: translate(-55%, 18%);
    }

    .div-img img {
        width: 260px;
    }

    .div-paragraph h1 {
        width: 280px;
        font-size: 22px;
        padding: 45px 5px 20px 5px;
    }

    .div-paragraph p{
        width: 270px;
        font-size: 16px;
        padding: 0 0 0 10px;
    }
}